body {
  margin-top: 60px;
  text-align: center;
}

h1 {
  padding-bottom: 0.5rem;
}

input[type=number] {
  cursor: pointer;
}

#input-celsius {
  background-color: #ff6347; /* Change to a red color */
  font-size: 2.5rem;
}

#input-fahrenheit {
  background-color: #ffd700; /* Change to a gold color */
  font-size: 2.5rem;
}

#input-kelvin {
  background-color: #5f9ea0; /* Change to a cadet blue color */
  font-size: 2.5rem;
}

.form-padding {
  padding: 2rem 1rem;
}

::-webkit-input-placeholder {
  color: #000000 !important; /* Change placeholder text color to black */
}
::-moz-placeholder {
  color: #000000 !important; /* Change placeholder text color to black */
}
:-ms-input-placeholder {
  color: #000000 !important; /* Change placeholder text color to black */
}
:-moz-placeholder {
  color: #000000 !important; /* Change placeholder text color to black */
}

footer {
  padding-top: 1.5rem;
  font-size: 0.7rem;
  line-height: 0.2rem;
  text-align: center;
}

.icons {
  max-width: 25px;
  height: auto;
}
